h1{
    color: rgb(41, 218, 209);
}
:root{
--cor-de-fundo: blue;
--verde: rgba(9, 0, 128, 0);
--branco: white;
--botao-ativo:rgba(255, 255, 255, 0.493);
--botao-inativo:black;
--texto-fundo:black;
}

body {
    background-color: var(--cor-de-fundo);
    color:var(--branco):
    font-family:'chakra petch',sans-serif;
}

.conteu-principal{
  display: flex; 
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}


.titulo-principal{
  text-align: left;
  width: 100;
  font-size: 32px;

}

.titulo-principal {
    color: var(--verde);

 }

 .botao{
    font-family: "crakra petch",sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100px;

    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;


}

.botao{
    display: block;
}

.ativ0{
  background-color: var(--botao-ativo);
  border-bottom: 4px solid var(--verde);

}

@media screen and (min-width:768px){ 
   .botao{  

}
    

